{{> header}}
<body class="dashboard add-team">
	<header>
		<h1>Add a New Team</h1>
		<p>Use this form to add a new team for your course.</p>
	</header>
	<section class="form__add-team__container">
		<form class="form__add-team">
				<div class="add__team-title">
					<label>Team Name:
						<input type="text" placeholder="Team Name">
					</label>
				</div>
				<div class="add__teammate">
					<fieldset class="teammate__new fieldset">
						<legend>Add people to the team.</legend>
						<label>Team Member Name:
							<input type="text" name="teammate0">
						</label>
					</fieldset>
					<button class="button__add_teammate">Add a Team Member</button>
				</div>
			<button class="button">Add Team</button>
		</form>
	</section>
	<footer class="add__team-footer">
		<div class="team__code hide">
			<h4>Team Access Code</h4>
			<p>Write this code down please.</p>
			<a href="{{dashboard_root}}" class="button">Return to Dashboard</a>
		</div>
	</footer>
<script src="/assets/js/create.js"></script>
<script>
	jQuery(document).ready(function($) {
		$('.form__add-team').submit( e => {
			e.preventDefault();
			createNewTeam(e, '.form__add-team');
		} );
	});
</script>
{{> footer}}
