<!doctype html>
<html>
	<head>
		<title>sRAT Dashboard</title>
		{{> css }}
	</head>
	<body>
		<h1>Dashboard</h1>
		<ul>
			<li><a href="/new">Create New Quiz</a></li>
		</ul>		
		<div class="dashboard__component">
			<ul class="dashboard-quiz__list">
				<li class="quiz">
					<h3 class="quiz__title">Example Quiz Title</h3>
					<ul class="quiz__control-container">
						<li class="quiz__control"><a href="#">Results</a></li>
						<li class="quiz__control"><a href="#">Open</a></li>
						<li class="quiz__control"><a href="#">Edit</a></li>
						<li class="quiz__control"><a href="#">Delete</a></li>
					</ul>
				</li>
				<li class="quiz">
					<h3 class="quiz__title">Example Quiz Title 2</h3>
					<ul class="quiz__control-container">
						<li class="quiz__control"><a href="#">Results</a></li>
						<li class="quiz__control"><a href="#">Closed</a></li>
						<li class="quiz__control"><a href="#">Edit</a></li>
						<li class="quiz__control"><a href="#">Delete</a></li>
					</ul>
				</li>
				<li class="quiz">
					<h3 class="quiz__title">Example Quiz Title 3</h3>
					<ul class="quiz__control-container">
						<li class="quiz__control"><a href="#">Results</a></li>
						<li class="quiz__control"><a href="#">Closed</a></li>
						<li class="quiz__control"><a href="#">Edit</a></li>
						<li class="quiz__control"><a href="#">Delete</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</body>
</html>
