<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add a New Quiz</title>
	{{>css}}
</head>
<body>
	<h1>Add a New Quiz</h1>
	<p>Quizzes don't exist without some effort Josh. Fill this in, make a quiz.</p>
	<form class="new_quiz">
		<label for="quiz_title">Title:</label>
		<input type="text" name="quiz_title">
		<fieldset>
			<legend>Add or remove questions and answer choices.</legend>
			<div class="questions_container">
				<div class="question">
					<label>Question Text:<input type="text" name="question_0"></label>
					<label>First Answer Choice:<input type="text" name="q0_answer_0"></label>
					<label>Second Answer Choice:<input type="text" name="q0_answer_1"></label>
					<label>Third Answer Choice:<input type="text" name="q0_answer_2"></label>
					<label>Fourth Answer Choice:<input type="text" name="q0_answer_3"></label>
					<label>Correct Answer:
						<select name="q0_correct">
							<option value="0">1</option>
							<option value="1">2</option>
							<option value="2">3</option>
							<option value="3">4</option>
						</select>
					</label>
				</div>
			</div>
			<button class="dashboard__button add_question">Add a Question</button>
		</fieldset>
		<input type="submit" class="dashboard__button submit_quiz" value="Add Quiz">
	</form>
	<script>
	jQuery(document).ready(function($) {

		const add_question = () => {
			let i = $('.question').length;
			let question_template = `<div class="question"><label>Question Text:<input type="text" name="question_${i}"></label><label>First Answer Choice:<input type="text" name="q${i}_answer_0"></label><label>Second Answer Choice:<input type="text"name="q${i}_answer_1"></label><label>Third Answer Choice:<input type="text"name="q${i}_answer_2"></label><label>Fourth Answer Choice:<input type="text" name="q${i}_answer_3"></label><label>Correct Answer:<select name="q${i}_correct"><option value="0">1</option><option value="1">2</option><option value="2">3</option><option value="3">4</option></select></label></div>`;
			$('.questions_container').append(question_template);
		};

		$('.add_question').click((e) => {
			e.preventDefault();
			add_question();
		});

		const formToJSON = elements => [].reduce.call(elements, (data, element) => {
  		if(element.type !== "submit") {
  			data[element.name] = element.value;
  		}
		  return data;
		}, {});

		const handleFormSubmit = e => {
			e.preventDefault();
			let form = $('.new_quiz');
			const data = formToJSON(form[0].elements);
			// console.log(JSON.stringify(data, null, " "));
			// console.log(data);
			let api_data = {
				"name": data.quiz_title,
				"questions": []
			}

			const dataProps = Object.getOwnPropertyNames(data);
			const questionList = dataProps.filter( property => {
				if ( property.match(/question_\d+/) ){
					return true;
				}
			});
			//console.log(questionList);

			const questionObjtoJSON = (array, data) => {
				const questionArray = [];
				for(let i = 0; i < array.length; i++){
					let obj = {};
					let q = array[i];
					obj.statement = data[q];
					obj.correct = (parseInt(data["q" + i + "_correct"]) + 1);
					obj.answers = [];
					obj.answers.push(data["q" + i + "_answer_0"],data["q" + i + "_answer_1"],data["q" + i + "_answer_2"],data["q" + i + "_answer_3"]);
					questionArray.push(obj);
				}
				return questionArray;
			};

			api_data.questions = questionObjtoJSON(questionList, data);
			console.log(api_data);

			sendRequest(api_data);
		};

		const sendRequest = function (data) {
			var xhr = new XMLHttpRequest();
			xhr.open('PUT', window.location, true);
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.send(JSON.stringify(data));
			xhr.onload = function () {
				var response = JSON.parse(this.responseText);
				if (response.error) {
					console.error(`something broked: ${response.error}`);
				} else {
					console.log(response);
				}
			};
		};

		$('.new_quiz').submit((e) => {
			handleFormSubmit(e);
		})
	});
	</script>
</body>
</html>