body {
	font-family: 'Oxygen', sans-serif;
	font-size: 1.25em;
	background-color: #efefef;
	margin: 1em;
	counter-reset: question;
}
.quiz__title {
	font-family: 'Merriweather', serif;
}

.question__container {
	display: flex;
	width: 80vw;
	margin: 0 auto;
}

.question {
  margin: 0 1em;
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
}

.question::before {
	counter-increment: question;                 
  content: counter(question);
  background-color: #CCCCCC;
  font-family: 'Merriweather', serif;
  font-size: 3em;
  float: left;
  padding: 2rem 1.5rem;
  margin-right: .5em;
}

.question__answer {
  margin: 0 .5em;
  font-size: 1.25em;
  width: 100px;
}