ul {
	list-style: none;
	padding-left: 0;
}
.dashboard__component {
	width: 80vw;
	margin: 0 auto;
}
.dashboard-quiz__list {
	display: block;
}
.quiz {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.quiz__control-container {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
.quiz__control {
	margin: 0 .5em;
}

.nonexistent {
	display: none;
}